<body>

     <header class="header-nav">

        <li><%= link_to "TOP", root_path %></li>
        <li><%= link_to "ABOUT US",futsals_path %></li>
        <li><%= link_to "RECENT ACTIVITIES",futsals_path %></li>

     </header>

     <div class="big-container">

        <%= image_tag 'first-back.jpg', class:'icon' %>

        <div class="first-container">

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">

            上智大学女子フットサルサークル
            F.C.CLAVELINA

        </div>
    
     </div>

     <section id="second-container">
        
        <p class="info-title">

         F.C.CLAVELINAについて
        
        </p>

        <div class="about-container">
            <p class="info-text">
                 <b>サークルについて</b>
                <br>
        
                <span class="font-small">
                    F.C.CLAVELINAは、
                <br>
                    上智大学唯一の
                <br>
                    女子のみのフットサルサークルです。
                </span>
                </p>

                <p class="info-text">
                    <b>活動頻度と場所</b>
                <br>

                <span class="font-small">
                月に３～４回ほど
                <br>
                大学の近くのグラウンドや
                <br>
                近くのフットサルコートで
                <br>
                活動しています。
                </span>
                </p>

                <p class="info-text">
                <b>サークル費</b>
                <br>
                <span class="font-small">
                1学期につき5,000円。
                <br>
                活動頻度により変動もあります。
                <br>
                合宿やイベントの際は別途
                <br>
                かかることがあります。
                </span>
            </p>
        </div>
     </section>


    

     </section>

    <footer class="footer-nav">

            <small>© 2023 F.C.CLAVELINA</small>
  
    </footer>

</body>