// Place all the styles related to the futsals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    margin: 0;
    padding: 0;
  }

  .header-nav{
    height: 50px;
    width: 100%;
    background-color: #000;
    border-bottom: solid 3px #FFFFFF;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  header li {
    margin-right: 40px;
    list-style: none;
    font-weight: bold;
    font-family: "Times New Roman"
  }

  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: #f00;
  }

  .big-container{
    background-color: #701E22;
    height: 620px;
  }

.icon{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 200px;
  left: 20%;
}

.first-container{
    width: 50%;
    position: absolute;
    top: 300px;
    left: 45%;
    font-family: 'Noto Serif JP', serif;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

#second-container {
   background-color: #FFFFFF;
   height: 620px;
   position: absolute;
   width: 100%;
   
   font-family: 'Noto Serif JP', serif;
   font-size: large;
   font-weight: bold;
   color: #000;
   text-align: center;
}

   .about-container {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  
  .info-title {
    padding-top: 40px;
    font-size: 60px;
    font-family: serif;
    margin-bottom: 20px;
    color: #444;
    text-align: center;
  }
  
  .info-text {
    font-size: 30px;
    margin-bottom: 20px;
    color: #444;
  
    width: 30%;
  }
  
  .font-small {
    font-size: 20px;
}

.footer-nav {
    height: 50px;
    width: 100%;
    background-color: #000;
    border-top: solid 3px #FFFFFF;
    position: absolute;
    margin-top: 620px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
}

.post-container{
  background-color: #701E22;
  height: 100vh;

  
}